<div>
    <canvas #displayCanvas id="displayCanvas" width="500" height="500"></canvas>
    <button [disabled]="isRunning" (click)="startLoop()">START</button>
    <button [disabled]="!isRunning" (click)="stopLoop()">STOP</button>
</div>
